[workspace]
resolver = "2"

members = ["cli", "core"]

[workspace.package]
version = "0.9.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Substrate's programmatic testing framework."
edition = "2021"
license = "Apache-2.0"
homepage = "https://github.com/paritytech/try-runtime-cli"
repository = "https://github.com/paritytech/try-runtime-cli/"

[workspace.dependencies]
array-bytes = { version = "6.2.3" }
assert_cmd = { version = "2.0.16" }
async-trait = { version = "0.1.83" }
bytesize = { version = "1.3.0" }
clap = { version = "4.5.18" }
env_logger = { version = "0.11.5" }
hex = { version = "0.4.3", default-features = false }
itertools = { version = "0.13.0" }
log = { version = "0.4.22" }
parity-scale-codec = { version = "3.6.12" }
regex = { version = "1.11.0" }
serde = { version = "1.0.210" }
serde_json = { version = "1.0.128" }
strum = "0.26"
strum_macros = "0.26"
tempfile = { version = "3.13.0" }
tokio = { version = "1.44.2" }
zstd = { version = "0.13.2", default-features = false }

# Polkadot SDK
frame-remote-externalities = { version = "0.54.0" }
frame-try-runtime = { version = "0.49.0" }
frame-support = { version = "43.0.0" }
frame-system = { version = "43.0.0" }

sc-cli = { version = "0.55.0" }
sc-executor = { version = "0.45.0" }
sc-service = { version = "0.54.0" }

sp-api = { version = "39.0.0" }
sp-consensus-aura = { version = "0.45.0" }
sp-consensus-babe = { version = "0.45.0" }
sp-core = { version = "38.1.0" }
sp-externalities = { version = "0.30.0" }
sp-inherents = { version = "39.0.0" }
sp-io = { version = "43.0.0" }
sp-keystore = { version = "0.44.1" }
sp-rpc = { version = "36.0.1" }
sp-runtime = { version = "44.0.0" }
sp-state-machine = { version = "0.48.0" }
sp-storage = { version = "22.0.0" }
sp-std = { version = "14.0.0" }
sp-timestamp = { version = "39.0.0" }
sp-transaction-storage-proof = { version = "39.0.0" }
sp-version = { version = "42.0.0" }
sp-weights = { version = "33.1.0" }

substrate-rpc-client = { version = "0.52.0" }

polkadot-primitives = { version = "21.0.0" }
cumulus-primitives-parachain-inherent = { version = "0.21.0" }
cumulus-primitives-core = { version = "0.21.0" }
cumulus-client-parachain-inherent = { version = "0.20.0" }

# Local
try-runtime-core = { path = "core" }

[dev-dependencies]
# The below dependency is only needed for integration tests; thus, being a dev dependency, it is fine for it to
# be pinned to a git revision, as this does not impact publication to crates.io .
substrate-cli-test-utils = { git = "https://github.com/paritytech/polkadot-sdk", rev = "09c511c3dc97961c8c2bdf7836d3ae02dd672771" }