<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../wasmparser_nostd/type.ComponentTypeSectionReader.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../wasmparser_nostd/type.ComponentTypeSectionReader.html">../../../../wasmparser_nostd/type.ComponentTypeSectionReader.html</a>...</p>
    <script>location.replace("../../../../wasmparser_nostd/type.ComponentTypeSectionReader.html" + location.search + location.hash);</script>
</body>
</html>